.lists{
    height: 100%;
    max-height: calc(100vh - 12em);
    @apply flex flex-col gap-8 w-full py-6 overflow-y-auto overflow-x-hidden;
}
.list{
    @apply flex items-center justify-between px-6 py-4 w-11/12 mx-auto rounded-3xl shadow-lg shadow-zinc-200 cursor-pointer transition-all duration-200 ease-in-out;
}
.list__title{
    @apply font-bold text-sm;
}
.list__progress{
    @apply flex items-center;
}
@media screen and (min-width:500px) {
    .lists{
        @apply px-6;
    }
}
@media screen and (min-width:700px) {
    .lists{
        max-height: calc(100vh - 25em);
        @apply p-0 py-6 gap-4;
    }
    .list{
        @apply w-full shadow-none py-2 px-4;
    }
    .list__progress{
        @apply hidden;
    }
    .list__title{
        @apply font-normal;
    }
}